<?php
header('Content-type: text/css');
if ($_SERVER['SERVER_NAME'] == 'nemview.hgn.id.au') {
  # Allow 5 minutes of caching
  header('Cache-Control: public, max-age=300, stale-while-revalidate=600');
  header('Expires: ' . date('r', time() + 300));
  header('X-LiteSpeed-Cache-Control: public, max-age=300, stale-while-revalidate=600');
  echo '/* Cached from ' .date('r', time()). ' */';
} else {
  # No caching, for debugging
  header('Cache-Control: no-cache, no-store, must-revalidate');
  header('Expires: ' . date('r'));
  header('X-LiteSpeed-Cache-Control: no-cache, no-store');
  echo '/* Not cached */';
}
?>

.place {
  r: 0.02px;
}

path.powerline {
  stroke-width: 0.01px;
  fill: none;
}
path.powerline[kva="500"] {
  stroke: rgb(255, 250, 173);
}
path.powerline[kva="330"] {
  stroke: rgb(255, 225, 174);
}
path.powerline[kva="275"] {
  stroke: rgb(255, 176, 219);
}
path.powerline[kva="220"] {
  stroke: rgb(175, 175, 255);
}
path.powerline[kva="132"], path.powerline[kva="110"] {
  stroke: rgb(176, 248, 255);
}
path.powerline[kva="66"] {
  stroke: rgb(215, 215, 215);
}

text.powerline {
  font-size: 0.045px;
  fill: black;
  stroke: none;
  pointer-events: none;
}


@keyframes dash {
  to {
    stroke-dashoffset: 1;
  }
}
path.powerline[load^="+"], path.powerline[reserve^="+"] {
  animation: 5s linear 0s infinite reverse dash;
}
path.powerline[load^="-"], path.powerline[reserve^="-"] {
  animation: 5s linear 0s infinite forwards dash;
}
path.powerline[load] {
  stroke: red;
}
path.powerline[reserve] {
  stroke: blue;
}
<?php
  for ($i = 0; $i <= 100; $i++) {
    printf('path.powerline[load$="%03u"] { stroke-dasharray: 0.%03upx 0.%03upx; }%s', $i, $i, 100-$i, "\n");
  }
  for ($i = 0; $i <= 100; $i++) {
    printf('path.powerline[reserve$="%03u"] { stroke-dasharray: 0 0.%03upx 0.%03upx 0; }%s', 100-$i, 100-$i, $i, "\n");
  }
?>
path.powerline.outage {
  stroke: black;
  stroke-dasharray: 0.02px;
}

.state-border {
  stroke: black;
  stroke-width: 0.01px;
  fill: none;
}

.viewBox {
  display: none;
  stroke: red;
  stroke-width: 0.1px;
  fill: none;
}
